# Linux
.*
!.gitignore
!.htaccess
*~


# netbeans
AppOrgEmpresas/nbproject/private/
AppOrgEmpresas/build/
AppOrgEmpresas/nbbuild/
AppOrgEmpresas/dist/
AppOrgEmpresas/nbdist/
AppOrgEmpresas/nbactions.xml
AppOrgEmpresas/nb-configuration.xml
