# Linux
.*
!.gitignore
!.htaccess
*~


# Netbeans
AppOrgEmpresas/nbproject/private/
AppOrgEmpresas/build/
AppOrgEmpresas/nbbuild/
AppOrgEmpresas/dist/
AppOrgEmpresas/nbdist/
AppOrgEmpresas/nbactions.xml
AppOrgEmpresas/nb-configuration.xml


# cordova Mobile
AppOrgEmpresas/config.xml
AppOrgEmpresas/hooks/
AppOrgEmpresas/nbproject/
AppOrgEmpresas/platforms/
AppOrgEmpresas/plugins/


# pruebas
AppOrgEmpresas/www/prueba
AppOrgEmpresas/www/js/Beers.json
AppOrgEmpresas/www/pruebahandlebars.html
AppOrgEmpresas/www/js/functions_old.js
